.header{
    background-color:black;
    display:flex;
    justify-content:space-between;
    font-family:cursive;
    font-size: 20px;
    font-weight: 400;
    color: white;
    flex-direction: column;
    
}
.menu{
    background-color: whitesmoke;
    display:flex;
    border-radius: 20px;
    justify-content:safe;
    width: 310px;
    font-family: cursive;
    
}
.grid{
    border : 2px solid black;
    border-radius: 50px;
}